
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.wrapper {
    height: 500px;
    width: 500px;
    border: 5px solid #000000;
    overflow-x: hidden;
    overflow-y: auto;
}

h1{
    margin: 12px;
}

p{
    margin: 12px;
}
